<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />

    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
      })
    </script>
    <div id="header"></div>
  </head>

  <body>
    <br />
    <br />
    <br />

    <!-- alerts -->
    <%if (alert.type.length > 0) { %>
    <div class="container">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 main">
          <form action="/login" method="post">
            <h1>Login form</h1>

            <input
              class="box"
              type="email"
              name="email"
              id="email"
              placeholder="E-Mail "
              required
            /><br />

            <input
              class="box"
              type="password"
              name="password"
              id="password"
              placeholder="Password "
              required
            /><br />

            <input
              type="submit"
              class="btn btn-lg btn-block btn-outline-primary"
              id="submitDetails"
              name="submitDetails"
              value="Sign In"
            />
            <br />

            <div class="google">
              <a
                class="oauth-container btn darken-4 white black-text"
                href="/google"
                style="text-transform: none"
              >
                <div class="left">
                  <img
                    width="50px"
                    style="margin-top: 7px; margin-right: 8px"
                    alt="Google sign-in"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
                  />
                </div>
                Login with Google
              </a>
            </div>

            <nav class="routes-btn">
              <hr />
              <a href="/register" class="register-btn">Don't have an account?</a>
              <a href="/login/reset" class="reset-btn">Forgot password?</a>
              <a href="/" class="home-btn">Return to site?</a>
            </nav>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
