<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kepsko website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./assets/css/register.css" />
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form" action="/login" method="post">
            <%if (alert.type.length > 0) { %>
            <!-- <div class="container"> -->
            <div class="alert alert-<%=alert.type %> alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
            </div>
            <!-- </div> -->
            <%}%>

            <a href="/">
              <img class="site-logo" src="../assets/calzone.png" alt="" />
            </a>

            <span class="login100-form-title p-b-43"> Login to continue </span>
            <br />
            <div class="wrap-input100 validate-input">
              <input class="input100" type="email" name="email" id="email" required />
              <span class="focus-input100"></span>
              <span class="label-input100">Email</span>
            </div>

            <div class="wrap-input100 validate-input">
              <input class="input100" type="password" name="password" id="password" required />
              <span class="focus-input100"></span>
              <span class="label-input100">Password</span>
            </div>

            <div>
              <a href="/register"> Don't have an account? </a>
              <a href="/login/reset"> Forgot Password? </a>
            </div>
            <br />

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                <i class="fa fa-sign-in"> Login </i>
              </button>
            </div>
            <br />
            <div class="centerTest">
              <span class="txt2"> - or sign up using -</span>
            </div>
            <br />

            <a href="/google" style="text-transform: none; text-decoration: none">
              <div class="container-login100-form-btn login100-google-btn">
                <i class="fa fa-google" aria-hidden="true"> Login with Google </i>
              </div>
            </a>
          </form>

          <div class="login100-more" style="background-image: url('../images/draw2.svg')"></div>
        </div>
      </div>
    </div>
  </body>
</html>
