<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
      })
    </script>
    <div id="header"></div>
  </head> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/assets/calzone.png" />
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('/../headers/mainHeader.ejs')
        $('#productsDropdown').load('/../headers/product.ejs')
        $('#authRoutes').load('/../headers/authRoute.ejs')
        $('#logo').load('/../headers/logo.ejs')
        $('#loader').load('./headers/loader.ejs')
        $('#homeRoute').load('/../headers/homeRoute.ejs')
        $('#loginRoute').load('/../headers/loginRoute.ejs')
        $('#hero').load('/../headers/hero.ejs')
        $('#copyright').load('/../headers/copyright.ejs')
        $('#scripts').load('/../headers/scripts.ejs')
      })
    </script>
    <div id="header"></div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
  </head>
  <body>
    <br />
    <br />
    <br />
    <%if (alert.type.length > 0) { %>
    <div class="container">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 main">
          <form action="/login/reset/password" method="POST">
            <h1>New Password form</h1>
            <div class="input-field">
              <input id="password" name="password" type="password" class="validate" required />
              <label for="password">New password</label>
              <span class="helper-text" data-error="Input new password"> </span>
            </div>
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input type="hidden" name="token" value="<%= token %>" />

            <button class="btn btn-primary" type="submit">Update Password</button>
            <hr />
            <nav class="routes-btn">
              <a href="/login" class="login-btn">Return to login page?</a>
            </nav>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
