<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Keps'ko site</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />
    <!-- My icons (have to add)-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="https://github.com/vasyl1312/first_pet">Source Code</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Categories</a
              >
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/products">All Products</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Drinks</a></li>
                <li><a class="dropdown-item" href="#!">Foods</a></li>
                <li><a class="dropdown-item" href="#!">Sweets</a></li>
              </ul>
            </li>

            <% if (isAuth) {%>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/add">Add new</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/card">Card</a></li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
            </ul>
            <%}%>
          </ul>
        </div>
        <% if (isAuth) {%>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
          <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
        </ul>
        <%}%>
      </div>
      <% if (isAuth) {%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
      </ul>
      <%} else {%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
      </ul>
      <%}%>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <img class="img-header" src="./assets/calzone.png" />
          <p class="lead fw-normal text-white-50 mb-0">It's my profile page</p>
        </div>
      </div>
    </header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <div class="row">
            <div class="col s6">
              <% if (user.avatarUrl) {%>
              <img class="avatar" src="/<%= user.avatarUrl %>" alt="avatar-<%= user.name %>" />
              <%} else {%>
              <p>You have no avatar photo</p>
              <%}%>
            </div>

            <div class="col s6">
              <form action="/profile" method="POST" enctype="multipart/form-data">
                <p>Your email: <strong><%= user.email %></strong></p>

                <div class="input-field">
                  <input
                    id="name"
                    name="name"
                    type="text"
                    class="validate"
                    required
                    value="<%= user.name %>"
                  />
                  <label for="name">Change your name</label>>
                  <span class="helper-text" data-error="Name should be not empty"> </span>
                </div>

                <div class="file-field input-field">
                  <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="avatar" />
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-dark mt-auto">
                  Update Profile Info
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          If you have any questions, feel free:
          <a href="https://djinni.co/q/d9b5f577b1/" target="_blank">
            <img src="https://i.ibb.co/2gpxDSC/favicon-196x196.png" alt="Djinni Badge" width="50" />
          </a>
          <a href="https://www.instagram.com/vasyllko/" target="_blank">
            <img
              src="https://i.ibb.co/M6FY241/768px-Instagram-logo-2016-svg.png"
              alt="Instagram Badge"
              width="50"
            />
          </a>
          <a href="https://t.me/vasylkoo" target="_blank">
            <img
              src="https://i.ibb.co/WfRFLYF/2048px-Telegram-logo-svg.png"
              alt="Telegram Badge"
              width="50"
            />
          </a>
          <a href="https://github.com/vasyl1312" target="_blank">
            <img
              src="https://i.ibb.co/X89G0b8/PCp-Xdqv-UWf-CW1m-Xh-H1-Y-98y-Bpgs-Wxu-TSTofy3-NGMo9y-BTATDyz-Vkq-U580bf-Sln50b-FU.png"
              alt="GitHub Badge"
              width="50"
            />
          </a>
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
