<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="./assets/calzone.png" />

    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
      })
    </script>
    <div id="header"></div>
    <script src="/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
  </head>
  <body>
    <br />
    <br />
    <br />
    <!-- alerts -->
    <%if (alert.type.length > 0) { %>
    <div class="container">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 main">
          <form action="/register" method="post">
            <h1>Registration form</h1>

            <input
              class="box"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              required
            /><br />

            <input
              class="box"
              type="email"
              name="email"
              id="email"
              placeholder="E-Mail "
              required
            /><br />

            <input
              class="box"
              type="password"
              name="password"
              id="password"
              placeholder="Password "
              required
            /><br />

            <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br />
          </form>
          <nav class="routes-btn">
            <a href="/" class="home-btn">Return to site?</a>
            <a href="/login" class="login-btn">Already have an account?</a>
          </nav>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
