<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/x-icon" href="../assets/calzone.png" />

    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $('#header').load('../headers/header.ejs')
      })
    </script>
    <div id="header"></div>
    <script src="js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
  </head>

  <body>
    <br />
    <br />
    <br />

    <!-- alerts -->
    <%if (alert.type.length > 0) { %>
    <div class="container">
      <div class="alert alert-<%=alert.type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="text-center"><strong>Message:</strong> <%=alert.message %></div>
      </div>
    </div>
    <%}%>

    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 main">
          <form action="/login/reset" method="post">
            <h1>Reset password form</h1>
            <div class="input-field">
              <input id="email" name="email" type="email" class="validate" required />
              <label for="email">Email, where we will send a new password</label>
              <span class="helper-text" data-error="Input email"> </span>
            </div>

            <button class="btn btn-primary" type="submit">Reset password</button>
            <hr />
            <nav class="routes-btn">
              <a href="/login" class="login-btn">Return to login page?</a>
            </nav>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
