<li><a href="/add">Add new</a></li>
<li><a href="/favourite">Favourite</a></li>
<li><a href="/history">History</a></li>
<li><a href="/my_products">My Products</a></li>
<li>
  <div class="header-icons">
    <a class="mobile-hide search-bar-icon" href="/profile"><i class="fa fa-user"></i></a>
    <a class="mobile-hide search-bar-icon" href="/logout"><i class="fa fa-sign-out"></i> </a>
  </div>
</li>
