<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <p>
          Copyrights &copy; 2023 - <a href="https://github.com/vasyl1312">Vasyl Hryts</a>, All
          Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
