<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    >Categories</a
  >
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="/products">All Products</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="/javascript">JavaScript</a></li>
    <li><a class="dropdown-item" href="/java">Java</a></li>
    <li><a class="dropdown-item" href="/python">Python</a></li>
    <li><a class="dropdown-item" href="/c_similar">C similar</a></li>
    <li><a class="dropdown-item" href="/frontend">Frontend</a></li>
    <li><a class="dropdown-item" href="/backend">Backend</a></li>
    <li><a class="dropdown-item" href="/web_design">Web Design</a></li>
    <li><a class="dropdown-item" href="/other">Other</a></li>
  </ul>
</li>
