<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
    <li class="nav-item"><a class="nav-link" href="/add">Add_new</a></li>
    <li class="nav-item"><a class="nav-link" href="/favourite">Favourite</a></li>
    <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
    <li class="nav-item"><a class="nav-link" href="/my_products">My_products</a></li>

    <li class="dropdown-item">
      <a class="nav-link" href="/profile" style="float: right"
        ><img src="../../images/user.png" style="width: 45px; height: 45px"
      /></a>
    </li>
    <li class="dropdown-item">
      <a class="nav-link" href="/logout"
        ><img src="../../images/logout.png" style="width: 45px; height: 45px"
      /></a>
    </li>
  </ul>
</div>
