<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Site for posting CVs and searching for candidates</p>
            <h1>Kepsko website</h1>
            <div class="hero-btns">
              <a href="/" class="boxed-btn">Something</a>
              <a href="/" class="bordered-btn">Something 2</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
