<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Kepsko website</p>
            <h1>All products page</h1>
            <div class="hero-btns">
              <a href="shop.html" class="boxed-btn">Fruit Collection</a>
              <a href="contact.html" class="bordered-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
