<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
/>

<!-- title -->
<title>Kepsko website</title>

<!-- bootstrap -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<!-- main style -->
<link rel="stylesheet" href="assets/css/main.css" />
