<a href="/products">Products</a>
<ul class="sub-menu">
  <li><a href="/products">All Products</a></li>
  <li><hr /></li>
  <li><a href="/javascript">JavaScript</a></li>
  <li><a href="/java">Java</a></li>
  <li><a href="/python">Python</a></li>
  <li><a href="/c_similar">C similar</a></li>
  <li><a href="/frontend">Frontend</a></li>
  <li><a href="/backend">Backend</a></li>
  <li><a href="/web_design">Web Design</a></li>
  <li><a href="/other">Other</a></li>
</ul>
